@{
    ViewBag.Title = "Birthday";
}

@section Scripts
{
    <script src="~/Scripts/birthday.js"></script>
}

<form role="form" action="" method="get"></form>

@Html.Label("name", "Name")
@Html.Label("birthday", "Birthday")
@Html.Label("gb", "Gb")
@Html.Label("ob", "Ob")
@Html.Label("pb", "Pb")
@Html.Label("bb", "Bb")

@Html.TextBox("name", null, new { placeholder = "Enter Name", required = "required", @class = "form-control" })

@Html.TextBox("birthday", null, new { placeholder = "Enter Birthday", required = "required", @class = "form-control" })

@Html.CheckBox("Green", false, new { @class = "bx" })
@Html.CheckBox("Orange", false, new { @class = "bx" })
@Html.CheckBox("Purple", false, new { @class = "bx" })
@Html.CheckBox("Blue    ", false, new { @class = "bx" })
<h2>Birthday</h2>

